.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-header {
    width: 100%;
    text-align: center;
  }

  &-blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &-technical {
    &-cards {
      width: 100%;
      @media screen and (max-width: 1919px) {
        flex-direction: column;
      }
    }
  }

  &-soft {
    &-cloud {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

app-technical-skills,
app-soft-skills,
app-language-skills {
  width: 100%;
}
