.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-header {
    width: 100%;
    text-align: center;
  }

  &-blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  &-technical {
    &-cards {
      width: 100%;
      @media screen and (max-width: 1919px) {
        flex-direction: column;
      }
    }
  }

  .other-skills {
    display: flex;
    justify-content: flex-start;
    padding-top: 2rem;
    @media screen and (max-width: 1919px) {
      flex-direction: column;
    }
  }

  &-language {
    width: 50%;
  }

  &-soft {
    &-cloud {
      width: 50%;
    }
  }
}
